<!DOCTYPE html>

<html lang="en">
  <head th:replace="snippets.html :: name_head">
    
  </head>

  <link rel="stylesheet" th:href="@{/static/home.css}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <body>
    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">



      <!-- Header-->
	  <header class="py-5">
		<div class="container px-lg-5">
			<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
				<div class="m-4 m-lg-5">
					<h1 class="display-5 fw-bold">Welcome to Pos!</h1>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content-->
	<section class="pt-4">
		<div class="container px-lg-5">
			<!-- Page Features-->
			<div class="row gx-lg-5">
				<div class="col-lg-6 col-xxl-4 mb-5">
					
					<a th:href="@{/ui/brands}" title="Brand/Category">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-badge-tm"></i></div>
								<h2 class="fs-4 fw-bold">Brand/Category</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5">
					<a th:href="@{/ui/products}" title="Products">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-handbag"></i></div>
								<h2 class="fs-4 fw-bold">Products</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5">
					<a th:href="@{/ui/inventory}" title="Inventory">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-box"></i></div>
								<h2 class="fs-4 fw-bold">Inventory</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5">
					<a th:href="@{/ui/orders}" title="Orders">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cart3"></i></div>
								<h2 class="fs-4 fw-bold">Orders</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5" th:if="${info.getRole() == 'SUPERVISOR'}">
					<a th:href="@{/ui/day-sales}" title="Day sales">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bar-chart-fill"></i></div>
								<h2 class="fs-4 fw-bold">Day Sales</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5" th:if="${info.getRole() == 'SUPERVISOR'}">
					
					<a th:href="@{/ui/admin}" title="User management">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-fill"></i></div>
								<h2 class="fs-4 fw-bold">User Management</h2>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
    </div>
    <!-- Container end-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		
			var user = /*[[${info.getRole()}]]*/ 'OPERATOR';
		
		/*]]>*/
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <footer th:replace="snippets.html :: name_footer"></footer>

	<script>
		$('.active').removeClass('active');
		$('#a-nav-home').addClass('active');
	</script>
  </body>
</html>
