<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">



 <!-- Top row with form-->
 <div class="row page-headers">
	<div class="col-4">
		<h3>Inventory</h3>
	</div>
	 <div class="col-8 icons-form" th:if="${info.getRole() == 'supervisor'}" >
		<div class="form-inline" style="justify-content: flex-end;">
		
			  <button type="button" class="btn " id="add-inventory-modal-toggle" title="Add Inventory">Add</button>
			  &nbsp;
			  <button type="button" class="btn  " id="refresh-data" title="Refresh Data">Refresh</button>
			  &nbsp;
			  <button type="button" class="btn  " id="upload-data" title="Upload master file">Upload</button>
			  &nbsp;
			  <button type="button" class="btn  " id="download-report" title="Download Inventory Report">Download Report</button>
		</div>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="inventory-table">
	  <thead>
	    <tr>
	      <th scope="col">Barcode</th>
	      <th scope="col">Quantity</th>
	      <th scope="col" th:if="${info.getRole() == 'supervisor'}">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>12345678</td>
	      <td>5</td>
	      <td th:if="${info.getRole() == 'supervisor'}">Edit | Delete</td>
	    </tr>
	  </tbody>
	</table>

</div>
</div>

<!-- inventory Add Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="add-inventory-modal" th:if="${info.getRole() == 'supervisor'}">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Add Inventory</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form class="form" id="inventory-form">
				<div class="form-group">
				  <label for="inputBarCode" class="col-sm-2 col-form-label">Barcode</label>
				  <div class="col-sm-10">
					<input type="text" class="form-control" name="barcode" id="inputBarCode" placeholder="Enter Barcode" required>
				  </div>
				</div>
				<div class="form-group">
				  <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
				  <div class="col-sm-10">
					<input type="number" class="form-control" name="quantity" id="inputQuantity" min="1" max="2147483647" placeholder="Enter Quantity" required>
				  </div>
				</div>
			  </form>       
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
		  <button type="button" class="btn primary-btn " id="add-inventory">Add</button>
		</div>
	  </div>
	</div>
  </div>

<!-- inventory Edit Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="edit-inventory-modal" th:if="${info.getRole() == 'supervisor'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form" id="inventory-edit-form">
			  <div class="form-group">
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="barcode" placeholder="Enter Barcode" readonly id="edit-barcode">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
			    <div class="col-sm-10">
			      <input type="number" class="form-control" name="quantity" min="0" placeholder="Enter Quantity" max="2147483647" required>
			    </div>
			  </div>
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn primary-btn " id="update-inventory">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- inventory Upload Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="upload-inventory-modal" th:if="${info.getRole() == 'supervisor'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="inventory-file">
		  <input type="file" class="custom-file-input" id="inventoryFile">
		  <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/inventory.tsv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn primary-btn " id="process-data">Upload</button>
        <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:inline="javascript">
	/*<![CDATA[*/
	
		var user = /*[[${info.getRole()}]]*/ 'operator';
	
	/*]]>*/
</script>
<script th:src="@{/static/inventory.js}"/></script>

</body>	

</html>