<!DOCTYPE html>

<html lang="en">
  <head th:replace="snippets.html :: name_head"></head>

  <body>
    <div class="container" style="margin-top: 100px">
      <div class="row" style="align-items: center">
        <div class="col-6">
          <img
            th:src="@{/static/logo-without-text.webp}"
            style="width: 140%; -webkit-user-drag: none"
            alt=""
          />
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form
                class="form"
                id="login-form"
                method="POST"
                th:action="@{/session/login}"
              >
                <div class="form-group">
                  <label for="email" class="col-sm-10 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Enter Email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-10 col-form-label"
                    >Password</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Enter Password"
                    />
                  </div>
                </div>
                <button type="submit" class="btn primary-btn" id="login">
                  Login
                </button>
                <a class="btn  btn-outline-secondary" th:href="@{/site/signup}">Signup</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/

      var message = /*[[${info.getMessage()}]]*/ "No message";

      /*]]>*/

      if (message != "No message") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: message,
        });
      }

      /*[[${info.setMessage("No message")}]]*/

    </script>
  </body>
</html>
