<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Products</h3>

 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12" th:if="${info.getRole() == 'supervisor'}" >
		<div class="form-inline" style="justify-content: flex-end;">
		
			  <button type="button" class="btn " title="add-new-product" id="add-product-modal-toggle">Add</button>
			  &nbsp;
			  <button type="button" class="btn " title="refresh" id="refresh-data">Refresh</button>
			  &nbsp;
			  <button type="button" class="btn " title="upload master file" id="upload-data">Upload</button>
		</div>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="product-table">
	  <thead>
	    <tr>
	      <th scope="col">S.no.</th>
	      <th scope="col">Barcode</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Category</th>
	      <th scope="col">Name</th>
	      <th scope="col">M.R.P.</th>
	      <th scope="col" th:if="${info.getRole() == 'supervisor'}">Actions</th>

	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>a1b2c3d4</td>
	      <td>Nestle</td>
          
	      <td>Dairy</td>
          <td>nestle kitkat 100 grams</td>
          <td>49.00</td>
	      <td th:if="${info.getRole() == 'supervisor'}">Edit</td>
	    </tr>
	  </tbody>
	</table>

</div>
</div>

<!-- product Add Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="add-product-modal"  th:if="${info.getRole() == 'supervisor'}">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Add Product</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form class="form-inline" id="product-form">

                <div class="form-group">
                    <label for="barcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="barcode" id="barcode" placeholder="enter barcode" maxlength="8" minlength="8">
                    </div>
                </div>

				
			    <div class="form-group">
			      <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
			      <div class="col-sm-10">
                    <select placeholder="Select Brand" data-search="true" id="brand-select" class="select2 form-control" name="brand">
                        <option disabled selected value> -- select an option -- </option>
                    </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
			      <div class="col-sm-10">
                    <select placeholder="Select Brand" data-search="true" id="category-select" class="select2 form-control" name="category">
                        <option disabled selected value> -- select an option -- </option>
                    </select>
			      </div>
			    </div>
                <div class="form-group">
			      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			      <div class="col-sm-10">
			        <input type="text" class="form-control" name="name" id="inputName" placeholder="enter name">
			      </div>
			    </div>
                <div class="form-group">
			      <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
			      <div class="col-sm-10">
			      <input type="number" class="form-control" name="mrp" id="inputName" placeholder="enter mrp">
			    </div>
			  </div>
			
			</form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
		  <button type="button" class="btn primary-btn " id="add-product">Add</button>
		</div>
	  </div>
	</div>
  </div>

<!-- product Edit Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="edit-product-modal"  th:if="${info.getRole() == 'supervisor'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-inline" id="product-edit-form">
                <div class="form-group">
                  <label for="inputBarCode" class="col-sm-2 col-form-label">Barcode</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="barcode" placeholder="enter barcode" minlength="8" maxlength="8" readonly>
                  </div>
                </div>
			  <div class="form-group">
			    <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="brand" placeholder="enter brand" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="category" placeholder="enter category" readonly>
			    </div>
			  </div>
              <div class="form-group">
			    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="name" placeholder="enter name">
			    </div>
			  </div>
              <div class="form-group">
			    <label for="inputMrp" class="col-sm-2 col-form-label">Mrp</label>
			    <div class="col-sm-10">
			      <input type="number" class="form-control" name="mrp" placeholder="enter mrp">
			    </div>
			  </div>
 	        <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn primary-btn " id="update-product">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- product Upload Modal -->
<div class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" id="upload-product-modal"  th:if="${info.getRole() == 'supervisor'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Product/Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="product-file">
		  <input type="file" class="custom-file-input" id="productFile">
		  <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn primary-btn " id="process-data">Upload</button>
        <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:inline="javascript">
	/*<![CDATA[*/
	
		var user = /*[[${info.getRole()}]]*/ 'operator';
	
	/*]]>*/
</script>

<script th:src="@{/static/product.js}"/></script>

</body>	

</html>