<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">



<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet"></link>

<link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/ui/home}">
    <img th:src="@{/static/logo.webp}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/brands}">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/products}">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/orders}">Orders</a>
      </li>
      <li class="nav-item" th:if="${info.getRole() == 'supervisor'}">
        <a class="nav-link" th:href="@{/ui/day-sales}">Sales</a>
      </li>
      <li class="nav-item" th:if="${info.getRole() == 'supervisor'}">
        <a class="nav-link" th:href="@{/ui/admin}">Admin</a>
      </li>

      
      
    </ul>
    
    <ul class="navbar-nav ml-auto">
	    <li class="navbar-text">
	    	[[${info.getEmail()}]]
	    	&nbsp;&gt;&nbsp;
	    </li>
	    <li class="nav-item">
	    	<a class="btn secondary-btn" th:href="@{/session/logout}">Logout</a>
	    </li>
    </ul>
    
        
  </div>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer">
	Copyright Increff 2023
	&nbsp;

  
 
  
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>  
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script src = "https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <link rel = "stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  
  
	<script th:src="@{/static/app.js}"/></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
	
</footer>


