app.version=1.0
app.name=POS Application
app.baseUrl=/pos

jdbc.driverClassName=com.mysql.cj.jdbc.Driver
jdbc.url=jdbc:mysql://localhost/pos
jdbc.username=
jdbc.password=
hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
hibernate.show_sql=false
hibernate.hbm2ddl.auto=update
hibernate.jdbc.batch_size=100
hibernate.order_inserts=true
hibernate.physical_naming_strategy=org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
spring.jackson.serialization.write-dates-as-timestamps=false

supervisor.email=

cache.location=
pdfapp.url=

server.timezone=UTC